<div class="d-flex flex-column">
  <%= @assignment.taught_class.subject %>
<%= @assignment.topic %>
<%= local_time(@assignment.deadline) %>
</div>



<% @assignment.questions.each do |question| %>
<%= question.prompt %>
  <% question.options.each do |option| %>
    <%= radio_button_tag question.id, option.id %>
    <%= option.content %>
  <% end %>
<% end %>


<%= link_to 'Edit assignment', edit_assignment_path(@assignment) %>
<%= link_to 'Back', taught_class_assignments_path(@assignment.taught_class) %>







