<h1> Your classes at <%= current_user.school_name %></h1>

<% @class_memberships.each do |class_membership| %>

  <div class="d-flex flex-column">
    <%= class_membership.taught_class.year %>
    <%= class_membership.taught_class.subject %>
    <%= class_membership.taught_class.academic_year %>
  </div>




   <% if class_membership.taught_class.assignments.any? %>

    <%= link_to 'See all assignments set', class_membership_assignments_path(class_membership) %>

   <% end %>


  <% end %>
