<% if TaughtClass.where(user: current_user).any? %>

  <div class="row row-cols-1 row-cols-md-3 mt-4">
    <% TaughtClass.where(user: current_user).limit(10).each do |taught_class| %>

      <div class="col mb-4 ">
        <div class="card shadow-sm card-index" style = "border-radius: 10px;border-left:solid 3px #4CC9F0;">
          <div class="card-body">

                <div class="d-flex align-items-center">
                  <%= image_tag "rocket.png", style: "width: 15%" %>
                  <div style="overflow:hidden; width:5%"></div>

                  <div class="card-text d-flex justify-content-between" style="width:100%;">
                    <div>
                      <p style="margin-bottom: 0px; font-weight:bold"> <%= taught_class.subject.capitalize %> </p>
                      <p style= "color: #767676; font-size: 14px;margin:0px;"> <%= taught_class.year %> </p>
                    </div>

                    <div>
                      <p> <%= taught_class.academic_year %> </p>
                    </div>
                  </div>
                </div>

          </div>

          <div class="card-footer">
            <small class="text-muted text-center">

                <p> Class size: <%= pluralize((taught_class.class_memberships.size),"student") %> </p>

                <%#= link_to 'Set an assignment', new_taught_class_assignment_path(taught_class), class: "tertiary-button", style: "text-decoration:none; color:black;font-weight:bold;width:80%"%>
                <div class="d-flex justify-content-around">

                  <%= link_to 'Remove class', taught_class_path(taught_class), class: "tertiary-button", method: :delete, remote: true, style: "text-decoration:none; color:black;font-weight:bold"%>

                  <div style="overflow:hidden; width: 2%;"></div>

                  <%= link_to 'Set an assignment', new_taught_class_assignment_path(taught_class), class: "tertiary-button", style: "text-decoration:none; color:black;font-weight:bold"%>
                </div>

            </small>
          </div>
        </div>
        </div>

    <% end %>
  </div>
<br>
  <%= link_to taught_classes_path, style: "text-decoration:none; color:black" do %>
    <div class="d-flex align-items-center">
      <p style="font-weight: bold; margin:0px"> View all </p>
      &nbsp;
      <%= image_tag 'arrow_forward.svg' %>
    </div>
  <% end %>

<% else %>
  <p> You haven't created any classes as yet </p>

<% end %>
