<% if current_user.assignments.any? %>

  <div class="row row-cols-1 row-cols-md-3 mt-4">
    <% current_user.assignments.includes(:taught_class).order(created_at: :desc).limit(10).each do |assignment| %>

        <div class="col mb-4 ">
          <div class="card shadow-sm card-index" style = "border-radius: 10px; border-left:solid 3px #11A191">
            <div class="card-body">

              <div class="d-flex align-items-center">
                    <%= image_tag "paper.png", style: "width: 15%" %>
                    <div style="overflow:hidden; width:5%"></div>

                    <div class="card-text d-flex justify-content-between" style="width:100%;">
                      <div>
                        <p style="margin-bottom: 0px; font-weight:bold;"> <%= assignment.topic.capitalize %> </p>
                        <p style= "color: #767676; font-size: 14px;margin:0px;"> <%= assignment.taught_class.year.capitalize %> </p>
                        <p style= "color: #767676; font-size: 14px;margin:0px;"> Due: <%= local_time(assignment.deadline, '%B %e, %Y') %> </p>
                      </div>

                      <div>
                        <p> <%= assignment.taught_class.subject.capitalize %> </p>
                      </div>
                    </div>
              </div>
            </div>

            <div class="card-footer">
              <small class="text-muted text-center">
                <p> Completed: <%= assignment.student_percentage_completed %> </p>
                <div class="d-flex justify-content-around">

                  <%= link_to 'View performance', class_performance_assignment_path(assignment), class: "tertiary-button", style: "text-decoration:none; color:black;font-weight:bold"%>

                  <div style="overflow:hidden; width: 2%;"></div>

                  <%= link_to 'View assignment', assignment_path(assignment), class: "tertiary-button", style: "text-decoration:none; color:black;font-weight:bold"%>
                </div>

              </small>
            </div>

          </div>
        </div>

    <% end %>
  </div>

  <br>

  <%= link_to taught_classes_path, style: "text-decoration:none; color:black" do %>
    <div class="d-flex align-items-center">
      <p style="font-weight: bold; margin:0px"> View all </p>
      &nbsp;
      <%= image_tag 'arrow_forward.svg' %>
    </div>
  <% end %>

<% else %>
  <p> You haven't set any assignments as yet </p>
<% end %>
