<% if current_user.teacher? %>
  <div class="container" style="padding:30px">
    <div class="d-flex flex-column">
      <br>

      <div>
        <div class="d-flex align-items-center">
          <%= image_tag 'hand.png', style: 'width:5%' %>

          <div style="overflow:hidden;width:2%"></div>

          <div class="d-flex flex-column">
            <h4 style="font-weight:bold;"> Welcome, <%= current_user.name %> </h4>
            <%= render "create_class_modal" %>
            <%= link_to 'Create a class', new_taught_class_path, class: "primary-button", style: "text-decoration: none; color: black; width:80%;text-align:center;", data: { toggle: "modal", target:"#exampleModal" } %>
          </div>

        </div>
        <br>
      </div>

      <br>


      <div>
        <div class="d-flex align-items-center">

          <div class="d-flex flex-column">
            <h4 style="font-weight:bold;"> Classes at <%= current_user.school.name %> </h4>
            <div style="border-bottom: 1px solid lightgray; width: 40px;"></div>
            <p class="mt-2"> <%= pluralize((TaughtClass.includes(:user).where(user: current_user).size),"class") %> </p>
          </div>

        </div>

        <%# colours = %w[#F20089,#FFBE09,#528BF4, #2D01F7, #6A01F4, #11A191, #4CC9F0] %>


        <% if TaughtClass.includes(:user).where(user: current_user).any? %>

          <div class="row row-cols-1 row-cols-md-3 mt-4">
            <% TaughtClass.includes(:user).where(user: current_user).limit(5).each do |taught_class| %>

              <div class="col mb-4 ">
                <div class="card shadow-sm card-index" style = "border-radius: 10px;border-left:solid 3px #4CC9F0 ">
                  <div class="card-body">

                        <div class="d-flex align-items-center">
                          <%= image_tag "rocket.png", style: "width: 15%" %>
                          <div style="overflow:hidden; width:5%"></div>

                          <div class="card-text d-flex justify-content-between" style="width:100%;">
                            <div>
                              <p style="margin-bottom: 0px; font-weight:bold"> <%= taught_class.subject.capitalize %> </p>
                              <p style= "color: #767676; font-size: 14px;"> <%= taught_class.year %> </p>
                            </div>

                            <div>
                              <p> <%= taught_class.academic_year %> </p>
                            </div>
                          </div>
                        </div>

                  </div>

                  <div class="card-footer">
                    <small class="text-muted">
                      <p> Class size: <%= pluralize((taught_class.class_memberships.size),"student") %> </p>
                      <%= link_to 'See more details', style: "text-decoration: none; color: #767676;" %>
                    </small>
                  </div>
                </div>
                </div>

            <% end %>
          </div>
        <br>
        <%= link_to 'View all', taught_classes_path, class: "secondary-button", style: "text-decoration:none; color:black" %>

        <% else %>
          <p> You haven't created any classes as yet </p>

        <% end %>

      </div>

      <br>

      <div>
        <div class="d-flex align-items-center">
          <%#= image_tag 'assignment.png', style: 'width:5%' %>

          <!-- <div style="overflow:hidden;width:2%"></div> -->

          <div class="d-flex flex-column mt-4">
            <h4 style="font-weight:bold;"> Assignments set </h4>
            <div style="border-bottom: 1px solid lightgray; width: 40px;"></div>
            <p class="mt-2"> <%= pluralize((current_user.assignments.size),"assignment") %> </p>
          </div>

        </div>



        <% if current_user.assignments.any? %>

          <div class="row row-cols-1 row-cols-md-3 mt-4">
            <% current_user.assignments.order(created_at: :desc).limit(5).each do |assignment| %>

              <div class="col mb-4 ">
                <div class="card shadow-sm card-index" style = "border-radius: 10px; border-left:solid 3px #11A191">
                  <div class="card-body">

                    <div class="d-flex align-items-center">
                          <%= image_tag "paper.png", style: "width: 15%" %>
                          <div style="overflow:hidden; width:5%"></div>

                          <div class="card-text d-flex justify-content-between" style="width:100%;">
                            <div>
                              <p style="margin-bottom: 0px; font-weight:bold;"> <%= assignment.topic %> </p>
                              <p style= "color: #767676; font-size: 14px;margin:0px;"> <%= assignment.taught_class.year %> </p>
                              <p style= "color: #767676; font-size: 14px;margin:0px;"> Due: <%= local_time(assignment.deadline, '%B %e, %Y') %> </p>
                            </div>

                            <div>
                              <p> <%= assignment.taught_class.subject %> </p>
                            </div>
                          </div>
                    </div>
                  </div>

                    <div class="card-footer">
                      <small class="text-muted">
                        <p> Completed: <%= assignment.student_percentage_completed %> </p>
                        <%= link_to 'See more details', style: "text-decoration: none; color: #767676;" %>
                      </small>
                    </div>

                </div>
              </div>

            <% end %>
          </div>

        <br>

        <%= link_to 'View all', taught_classes_path, class: "secondary-button", style: "text-decoration:none; color:black" %>

        <% else %>
          <p> You haven't set any assignments as yet </p>
        <% end %>

      </div>

    </div>
  </div>



<% elsif current_user.student? %>

  <div class="d-flex flex-column">
    <h1> Student dashboard </h1>
    <%= link_to 'View my classes', class_memberships_path %>
    <%= link_to 'View my assignments', my_assignments_path %>
    <%= link_to "View all classes at #{ current_user.school.name }", taught_classes_path %>

  </div>

<% end %>




