      <%= simple_form_for ([@assignment,@student_answer]) do |f|  %>
      <%= f.hidden_field :assignment_id, value: @assignment.id %>

      <% @assignment.questions.each do |question| %>

      <%= f.hidden_field :question_id, value: question.id %>

        <%= f.label :prompt, label: question.prompt %>

        <div class="d-flex flex-column">
           <%= f.simple_fields_for :student_answers do |a| %>



           <div class="d-flex">
             <%= a.label :option_1, label: question.option_1 %>
             <%= a.radio_button :student_answer, checked_value: true, unchecked_value: false %>
             <%= a.hidden_field :question_id, value: question.id %>
           </div>

            <%= a.label :option_2, label: question.option_2 %>
            <%= a.radio_button :student_answer, checked_value: true, unchecked_value: false %>
            <%= a.hidden_field :question_id, value: question.id %>
            <%= a.label :option_3, label: question.option_3 %>
            <%= a.radio_button :student_answer, checked_value: true, unchecked_value: false %>
            <%= a.hidden_field :question_id, value: question.id %>
            <%= a.label :option_4, label: question.option_4 %>
            <%= a.radio_button :student_answer, checked_value: true, unchecked_value: false %>
            <%= a.hidden_field :question_id, value: question.id %>
          <% end %>
        </div>


      <% end %>

      <%= f.submit "Submit assignment" %>
  <% end %>
